.buttonStart{
    width: max-content;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #5A6F08;
    padding: 2%;
    cursor: pointer;
}

.buttonStart:active{
    transform: scale(0.95);
    background-color: #92AC19;
}
.buttonStart:hover{
    background-color: #92AC19;
}

.linkStart{
    color: #FFF;
    text-decoration: none;
    font-size: 1.3rem;
}