.create-employee{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    color: #2B3404;
    text-align: center;
}

.divContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 0 10%;
    margin: 10px 0;
    justify-content: space-evenly;
   
}

.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 15px;
}

legend{
    color: #2B3404;
    font-style: italic;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
}

.label{
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #2B3404;
}

input, select{
    padding: 8px;
    margin: 10px;
}

input:focus, select:focus{
    color:#6C8310;
    outline: #6C8310 solid 1px;
    
}

.department{
    text-align: center;
    color: #2B3404;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.saveButton{
    width: 200px;
    height: 50px;
    background-color: #6C8310;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 10px auto;
    cursor: pointer;
}


.saveButton:active{
    transform: scale(0.95);
}

.react-calendar {
    width: 80%;
    max-width: 100%;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}