.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;    
    align-items: center;
    padding: 1%;
}


table {
  border-collapse: collapse;
  width: 100%;
  border: none;  
}


table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
  border-collapse: separate;
  text-align: center;
}

table tr:nth-child(even){background-color: rgba(147, 173, 24, 0.2);}

table tr:hover {
  background-color: #92AC19;
  color: #FFF;

}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  /* text-align: center; */
  background-color: #2B3404;
  color: white;
  
}

th col{
  display: flex;
}

button{
  padding: 10px;
  margin: 10px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #2B3404;
  color: #FFF;
  cursor: pointer;
  
}

button:hover{
  background-color: #92AC19;
}

button:active{
  transform: scale(0.95);
}

button:disabled{
  background-color: #ddd;
}

.pagination{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 0;
}

.spanContainer{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px;
}

@media screen and (max-width: 600px ) {
  .pagination{
    width: 100%;
  }
  .spanContainer{
    
    flex-direction: column-reverse;
  }
  .buttonContainer{
    width: 100%;
  }
}

.buttonContainer{
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.goto{
  width: 50px;
}

span{
  margin: auto;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
}

strong{
  font-weight: 700;
  color: #2B3404;
  margin: 5px;
}

.tableContainer{
  display: flex;
  justify-content: center;
  
}

@media screen and (max-width: 900px) {
  .tableContainer{
    width: 80vw;
    height: 80vh;
    overflow: scroll;
    position: relative;
  }
  table{
    position: absolute;
    left: 0;
  }
}

.arrow{
  border: solid #FFF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-top: 5px;
}

.down{
  transform: rotate(45deg);
}
.up{
  transform: rotate(-135deg);
}